{% extends "dashboard/user_dashboard.html" %}
{% load static %}


{% block main %}
<div class="home_page_container">
        <form action="{% url 'workerList' %}" class="search-form">
              {{form.searchInput}}
              <button type="submit">submit</button>
        </form>
</div>
{% endblock main %}

{% block css %}
<style>
    .home_page_container {
    height:400px;
    background:#13121F;
    display:flex;
    justify-content: center;
    align-items:center;
}

.search-form {
    display: flex;
    width: 50%; /* adjust width */
    max-width: 600px;
}

.search-form input {
    flex: 1;
    padding: 12px 16px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    outline: none;
    background-color: #374151; 
    color: #fff;
}

.search-form input::placeholder {
    color: #d1d5db; 
}

.search-form button {
    padding: 12px 20px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #ff9900ff; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #ffbe32ff; /
}
</style>

{% endblock css %}



